 body {
	background-color:#F1DEB6;
	text-align:center;
}	

#formContainer {
	display:inline;
	position:relative;
}

#newItem {
	display:inline;
	position:relative;
}

#myItem {
	margin-left:70px;
}

#actualButton {
	visibility:hidden;
}

#btn {
	border:1px solid #3FAE13;
	border-radius:5px;
	background-color:#48C716;
	width:70px;
	height:19px;
	display:inline;
	color:white;
	padding:3px;
	font-size:smaller;
	margin-left:-70px;
}

#btn:hover {
	background-color:#13AE35;
	cursor:pointer;
}

.toDo:hover {
	cursor:pointer;
}

.done {
	text-decoration:line-through;
	}